In [4]:
import pandas as pd

In [5]:

# 窗口统计函数
"count、sum、mean、std、max、min、median、mode、var、quantile"
df = pd.DataFrame(

  {

    "group": ["a", "a", "a", "a", "a", "b", "b", "b", "b", "b"],

    "value": [2, 4, 2, 3, 5, 1, 2, 4, 1, 5],

  }

)

for method in ['average', 'min', 'max', 'dense', 'first']:

  df[f'{method}_rank'] = df.groupby('group')['value'].rank(method)

df

  group  value  average_rank  min_rank  max_rank  dense_rank  first_rank
0     a      2           1.5       1.0       2.0         1.0         1.0
1     a      4           4.0       4.0       4.0         3.0         4.0
2     a      2           1.5       1.0       2.0         1.0         2.0
3     a      3           3.0       3.0       3.0         2.0         3.0
4     a      5           5.0       5.0       5.0         4.0         5.0
5     b      1           1.5       1.0       2.0         1.0         1.0
6     b      2           3.0       3.0       3.0         2.0         3.0
7     b      4           4.0       4.0       4.0         3.0         4.0
8     b      1           1.5       1.0       2.0         1.0         2.0
9     b      5           5.0       5.0       5.0         4.0         5.0